*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --main-background-green-color: #10e37f;
    --reddish-color: #fe3f40;

    --dark-grey: #525252;
    --light-grey: #808080;
}

body{
    height: 100vh;
    /* width: 100vw; */
    background-color: var(--main-background-green-color);
    display: flex;
    justify-content: center;align-items: center;
}

.product{
    width: 45%;
    height: 80%;

    background-color: white;
    border: none;
    border-radius: 8px;
    
    display: flex;
    justify-content: right;
    align-items: flex-end;

    padding-block: 4%;
    padding-inline: 2%;

    position: relative;
}
.product__info{
    width: 55%;
    height: 95%;

    /* padding-block: 4%; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .title{
        >span{
            font-size: 16px;
            font-weight: 400;
            color: var(--light-grey);
        }
    }
    
    .price{
        width: 37%;
        color: var(--reddish-color);
        font-size: 24px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >span{
            font-size: 48px;
        }
    }
    
    .variant{
        height: 20%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        >h3{
            color: var(--dark-grey);
            font-size: 17px;
            font-weight: 600;   
        }

        >ul{
            display: flex;
            width: 100%;
            align-items: center;justify-content: space-evenly;

            list-style-type: none;
            list-style-position: inside;

            >li{
                width: 50px;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }  
    }
    
    .description{
        height: 23.5%;
        display: flex;
        flex-direction: column;

        justify-content: space-between;

        .description-heading{
            font-size: 17px;
            font-weight: 600;
            color: var(--dark-grey);
        }

        .benefits-list{
            list-style-position: inside;
            font-size: 15px;
        }
    }

    .add-to-cart-button{
        border: none;
        padding-inline: 8%;
        padding-block: 2.5%;

        color: white;
        background-color: var(--reddish-color);

        border-radius: 4px;

        cursor: pointer;

        box-shadow: -1px 2px 20px rgba(0, 0, 0, 0.409);

        >p{
            font-size: smaller;
        }
    }

}
.product__photo{
    width: 48%;
    height: 80%;
    
    position: absolute;
    left: -10%;
    top: 10%;

    border-radius: 8px;
    /* overflow: hidden; */

    background-color: white;

    display: flex;
    flex-direction: column;

    box-shadow: -4px 3px 25px rgba(0, 0, 0, 0.335);

    /* overflow: hidden; */
    .photo-container{
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        
        .photo-main{
            width: 100%;
            height: 80%;
            
            background-image: radial-gradient(ellipse 90% 80% at 50% 35%, rgb(176, 255, 127) 0%, rgb(126, 214, 71) 40%, rgb(77, 200, 49) 80%);
            border-radius: 8px 8px 0 0;
            
            padding-inline: 4%;
            padding-block: 1%;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            position: relative;

            .controls{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                color: white;
            }

            >img{
                position: absolute;
                left: -20%;
            }

        }
    }
    /* .upper-container{
        

        position: relative;


        border-radius: 8px 8px 0 0;

        background-image: radial-gradient(ellipse 90% 80% at center, rgb(176, 255, 127) 0%, rgb(126, 214, 71) 40%, rgb(77, 200, 49) 80%);

        .top-row{
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: white;
        }
        .photo-container{
            position: absolute;
            left: -20%;

            height: 90%;
            >img{
                height: 100%;
                object-fit: contain;
            }
        }
    } */

    .photo-album{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;

        border-radius: 0 0 8px 8px;

        >ul{
            list-style: none;
            list-style-position: inside;

            width: 90%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            :first-child{
                outline: solid 0.5px black;
            }

            >li{
                width: 50px;
                height: 50px;
                overflow: hidden;

                display: flex;
                justify-content: center;
                align-items: center;    
                
                outline: none;
                border: none;
                
                >img{
                    width: 100%; height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}